# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
# Linker output
*.ilk
*.map
*.exp
# Precompiled Headers
*.gch
*.pch
# Libraries
*.lib
*.a
*.la
*.lo
# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
# Debug files
*.dSYM/
*.su
*.idb
*.pdb
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
lista-2/ex6
lista-2/ex2
lista-2/ex4
lista-2/ex8
lista-2/ex9
lista-2/ex7
lista-2/ex5
lista-2/ex1
lista-2/ex10
lista-4/ex6
lista-4/ex3
lista-4/ex2
lista-4/ex4
lista-4/ex5
lista-4/ex1
lista-5/ex6
lista-5/ex3
lista-5/ex2
lista-5/ex4
lista-5/ex8
lista-5/ex9
lista-5/ex5
lista-5/ex10
lista-5/ex12-a
lista-5/ex12-b
lista-5/ex11
lista-6/ex6
lista-6/ex3
lista-6/ex4
lista-6/ex8
lista-6/ex9
lista-6/ex7
lista-6/ex5
lista-6/ex1
lista-6/ex10
lista-6/ex11
lista-7/ex6
lista-7/ex3
lista-7/ex4
lista-7/ex9
lista-7/ex7
lista-7/ex5
lista-7/ex1
lista-7/ex10
prova-1/ex13
prova-1/ex10
prova-1/ex14
prova-1/ex11
prova-1/ex12
prova-1/pratica
lista-8/ex3
lista-8/ex2
lista-8/ex4
lista-8/ex8
lista-8/ex9
lista-8/ex7
lista-8/ex5
lista-8/ex1
lista-8/ex10
lista-8/ex6
